* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: merriweather;

}

body {
    background: purple;
}

.statement1 {
    border: 2px solid rgb(209, 102, 209);
    padding: 10px;
    position: absolute;
    top: 15%;
    bottom: 70%;
    left: 25%;
    background: white;
    opacity: 0.9;
}

.statement2 {
    background-color: #fff;
}

h1 {
    color: purple;
    padding: 5%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.calculator {
    background: #fff;
    border: 2px solid rgb(215, 89, 215);
    position: absolute;
    top: 35%;
    width: 790px;
    height: fit-content;
    opacity: 0.9;
    right: 23%;
    padding: 15px;
}

.total {
    padding: 15px;
    position: relative;
    left: 28px;
}

.buttonInput {
    padding: 10px;
    left: 28px;
    position: relative;
}

#input {
    padding-left: 5px;
    width: 200px;
}

h4 {
    color: rgb(199, 92, 199);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}